

.footer {
  background-color: #f8f9fa; 
  color: #333; 
  padding: 20px 0;
  text-align: center;
}

.footer-logo img {
  width: 200px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.footer-links li {
  display: inline-block;
  margin: 0 10px;
}

.footer-social-icon {
  margin-bottom: 20px;
}

.footer-icons-container {
  display: inline-block;
  margin: 0 10px;
}

.footer-copyright hr {
  border-color: #333;
  margin: 20px 0;
}

.footer-copyright p {
  margin: 0;
}
