/* Footer */
.footer {
  background-color: #f8f9fa; 
  color: #333; 
  padding: 20px 0;
  text-align: center;
}

.footer-logo img {
  width: 200px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.footer-links li {
  display: inline-block;
  margin: 0 10px;
}

.footer-links li a {
  color: #333; /* Default link color */
  text-decoration: none;
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

.footer-links li a:hover {
  color: #007bff; /* Change color on hover */
}

.footer-social-icon {
  margin-bottom: 20px;
}

.footer-icons-container {
  display: inline-block;
  margin: 0 10px;
}

.footer-copyright hr {
  border-color: #333;
  margin: 20px 0;
}

.footer-copyright p {
  margin: 0;
}

/* Indicator for Current Location */
.current-page {
  color: #007bff; /* Change color for current page */
}

/* Animations on Hover */
.footer-icons-container:hover img {
  transform: scale(1.1); /* Scale up on hover */
}

/* Light Mode */
body.light {
  background-color: #f9f9f9;
  color: #333;
}

body.light .footer {
  background-color: #f8f9fa;
  color: #333;
}

/* Dark Mode */
body.dark {
  background-color: #333;
  color: white;
}

body.dark .footer {
  background-color: #444;
  color: white;
}

.footer-links li a.active {
  font-weight: bold; /*  bold font for active link */
  color: blue; /* blue color for active link */
}