
.loginsignup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150%;
  width: 100%;
  margin-bottom: 200px;
  margin-top: 200px;
}

.loginsignup-container {
  position: relative; 
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 550px;
  width: 150%;

}

.loginsignup h1 {
  color: #333333;
  margin-bottom: 20px;
}

.loginsignup-fields {
  margin-bottom: 20px;
}

.loginsignup-fields input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.loginsignup-fields input:focus {
  outline: none;
  border-color: #007bff;
}

.loginsignup button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.loginsignup button:hover {
  background-color: #0056b3;
}

.loginsignup-login {
  margin-top: 20px;
  color: #888888;
}

.loginsignup-login span {
  color: #007bff;
  cursor: pointer;
}

.loginsignup-agree {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.loginsignup-agree p {
  color: #888888;
  cursor: pointer;
  text-decoration: underline; /* Add underline by default */
}

.loginsignup-agree p:hover {
  color: #007bff; /* Change color on hover */
}

.terms-modal {
  position: fixed;
  top: 0;
  left: 100;
  width:100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
}

.terms-modal-content {
  background-color: white;
  padding: 10px; /* Reduce padding to make it thinner */
  border-radius: 5px; /* Reduce border-radius */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Adjust box-shadow */
}
.close {
  position: fixed;
  top: 100px;
  right: 10px;
  cursor: pointer;
  font-size: 40px;

}

.close:hover {
  color: red;
}
