/* General styles */
.shopcategory-banner {
  display: block;
  margin: 30px auto;
  width: 80%;
}

.shopcategory-indexSort {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}

.shopcategory-sort {
  padding: 10px 20px;
  border-radius: 40px;
  border: 1px solid #888;
  cursor: pointer;
  transition: all 0.3s ease;
}

.shopcategory-sort:hover {
  background-color: #f0f0f0;
}

.shopcategory-indexSort p span {
  font-weight: 600;
}

.shopcategory-products {
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  max-width: 1200px;
}

.shopcategory-products .item {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.shopcategory-products .item img {
  max-width: 100%;
  height: auto;
}

.shopcategory-loadmore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background: #ededed;
  color: #787878;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.shopcategory-loadmore:hover {
  background-color: #ccc;
}


@media (max-width: 1280px) {
  .shopcategory-banner,
  .shopcategory-indexSort {
      width: 90%;
  }
}

@media (max-width: 800px) {
  .shopcategory-banner,
  .shopcategory-products {
      width: 95%;
  }

  .shopcategory-loadmore {
      margin: 30px auto;
      width: 150px;
      height: 40px;
      font-size: 14px;
  }
}

@media (max-width: 500px) {
  .shopcategory-products {
      grid-template-columns: 1fr;
  }
}
