/* TermsOfService.css */
.terms-container {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

}

.title {
    color: #333;
    text-align: center; /* Center the title */
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  .subtitle {
    color: #555;
  }
  