.hero {
  height: 100vh;
  display: flex;
  background-image: url('../Images/gif.gif');
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
}

.hero-top {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  text-align: center;
  text-shadow: 5px 5px 20px #000000;
  font-size: 200%;
  font-family: 'Times New Roman', Times, serif;
}


.hero-right {
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  margin-left: 25%;
 
}

.hero-right img {
  width: 1200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.hero-right img:hover {
  transform: scale(1.05);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent dark background */
  z-index: 999; /* Ensure the overlay is above other content */
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 20px; /* Increased border radius */
  padding: 100px; /* Increased padding */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 80%; /* Adjust as needed */
  text-align: center;
  opacity: 0; /* Initially hidden */
  animation: fadeIn 0.5s forwards; /* Fade-in animation */
  z-index: 1000; /* Ensure the popup is above the overlay */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.popup p {
  margin: 0;
  color: #000000; /* Text color changed to white */
  font-size: 60px;
  font-family:  "Times New Roman", Times, serif;
  font-weight: bold;
}

.popup button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
}

.popup button:hover {
  background-color: #0056b3;
}

/* Light Mode */
body.light {
  background-color: #f9f9f9;
  color: #333;
}

body.light .hero {
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
}

body.light .hero-left h2 {
  color: #454545;
}

body.light .hero-left p {
  color: #171717;
}

/* Dark Mode */
body.dark {
  background-color: #333;
  color: white;
}

body.dark .hero {
  background: linear-gradient(180deg, #2f2f2f, #1f1f1f22 60%);
}

body.dark .hero-left h2 {
  color: #f9f9f9;
}

body.dark .hero-left p {
  color: #f9f9f9;
}


