.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  box-shadow: 0 1px 3px -2px black;
  position: relative;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hamburger-icon {
  display: block;
  font-size: 24px;
  cursor: pointer;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo p {
  color: #171717;
  font-size: 42px;
  font-weight: 600;
}

.nav-search {
  margin-right: auto; /* Adjusted margin to push it to the right */
  margin-left: 20px; /* Added margin to separate from the hamburger icon */
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-login-cart button {
  width: 157px;
  height: 58px;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 75px;
  color: #515151;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: white;
}

.nav-login-cart button:active {
  background: #f3f3f3;
}

.nav-login-cart button:hover,
.nav-cart-link:hover {
  background-color: rgb(252, 186, 243);
  transform: scale(1.2);
}

.nav-cart-link {
  position: relative; /* To make the position of the indicator relative to the cart */
}

.nav-cart-count {
  position: absolute;
  top: -10px; /* Adjusted position */
  right: -10px; /* Adjusted position */
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 14px;
  background: red;
  color: white;
}

.nav-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-menu.visible {
  display: flex;
  flex-direction: column;
}

.nav-menu li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.nav-menu li:last-child {
  border-bottom: none;
}

.nav-menu a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
}
