.profiles {
  position: absolute;
  top: 6rem;
  right: -0.5rem;
  padding: 15px;
  border-radius: 15px;
  background-color: white;
  border: 1px solid gray;
  margin-right: 80px;
}

.profiles::before {
  position: absolute;
  top: -0.7rem;
  right: 1rem;
  width: 25px;
  height: 25px;
  content: '';
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid gray;
  border-top: 1px solid gray;
}

.list-none {
  list-style: none; 
}

.profile-list {
  margin: 0; 
  padding: 0; 
}

.link-style {
  text-decoration: none;
  color: inherit; 
  cursor: default; 
  transition: transform 0.3s ease; 
}

.link-style:hover {
  color: inherit; 
  transform: scale(1.2); 
}
