\.profiles {
  position: absolute;
  top: 5rem;
  right: -0.5rem;
  width: 150px;
  padding: 0;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: none; /* Hide the profiles by default */
}

.profiles.visible {
  display: flex;
  flex-direction: column;
}

.profile-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile-list li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.profile-list li:last-child {
  border-bottom: none;
}

.link-style {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  transition: transform 0.3s; /* Add transition for scaling effect */
  display: flex;
  align-items: center;
}

.link-style:hover {
  transform: scale(1.1); /* Scale the link on hover */
}

.link-style .icon {
  margin-right: 5px;
}

.logout-button {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logout-button:hover .icon {
  transform: scale(1.1); /* Scale the icon on hover */
}

.logout-button .icon {
  margin-right: 5px;
}

.logout-button .text {
  font-size: 18px;
}
